@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css");

.container {
    margin-top: 10px;
}
a {
    text-decoration: none !important;
    padding-inline: 10px;
    margin-top:  10px;
    color: black !important;
    font-size: larger;
    font-weight: bolder;
    display: flex;
}